body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(0, 0, 255); text-decoration: none;}

.bar {
    background-color: #1900ffe3;
    padding:15px;
    display: flex;
    border-radius: 2px;
    justify-content: end;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(204, 207, 255, 0.397);
    
}
.main {
    background-color: rgb(204, 207, 255);
}

.footer {
    
    height: 150px ;
    border-top: solid 2px #1900ffe3;
    background-color: #ffffffe3;
    color:black;  
    text-align: center;
}
footer li {
    font-size: 22px;
}

.anchors {
    border-bottom: solid 1px #cdcdcd98;
    border-left: solid 1px #cdcdcd98;
    padding-left: 15px;
    background-color: #cdcdcd98;
}
.sidebar {
    border-bottom: solid 1px #cdcdcd98;
    border-right: solid 1px #cdcdcd98;
    background-color: #cdcdcd98;
    
}
.figure {
    text-align: center;
    
}
.img {
    width: 400px;
  
}
.imgSenna {
    width: 33.33%;
    float: left;
    padding: 15px;
    margin: auto;
}
.row {
    content: "";
    display: table;
    clear: both;
}
.iframe {
    margin-left: 12%;
}
.details {
    background-color: rgb(195, 243, 163);
    display: inline;
}
.btn {
    background-color: #50c6e4;
    padding: 7px 12px;
    border-radius: 15px;
    border: 1px; 
}
.btn:hover{
    background-color:  #50c6e4b0;
    color: black;
}

